<div class="image-component">
    <div class="image-component__image">
        {% include 'partials/image/image.twig' with {
            image: component.image,
            cropWidth: 880,
        } %}
    </div>
</div>
