charcoal = #303030
charcoalLight = #3c3c3c
cobalt = #3d454c
darkCobalt = #363d44
darkGrey = #696e73
darkOrange = #cf3c1b
gray = #b3b3b3
grayDarkest = #6d6d6d
grey = #f1f1f1
greyDarkest = #6D6D6D
lightCobalt = #444d55
lightOrange = #ff5939
mediumGrey = #aeb4ba
onyx = #2f353b
orange = #e84a27
smoke = #f8f8f8
smokeDark = #f2f2f2
smokeDarkest = #d6d6d6
soot = #202020
