maxContentWidth = 1328px
maxContentWidthInterior = 880px
contentPaddingSmall = 24px
contentPaddingLarge = (contentPaddingSmall * 2)
mediumDeviceBreakpoint = 460px
largeDeviceBreakpoint = 800px
mediumCardBreakpoint = 290px
breakpointHeaderSmall = 600px
breakpointHeaderMedium = 750px
breakpointHeaderLarge = 1000px
