.text
    @extends $richText
    @extends $componentWithMargin
    clear both

    &__image
        display none

        +above(720px)
            display initial

        &--left
            float left
            margin 0 48px 24px 0

        &--right
            float right
            margin 0 0 24px 48px

        &--half
            width 50%

        &--third
            width 33%

    &__header
        @extends $headline1
        overflow-wrap break-word

        &--is-hidden
            @extends $visually-hidden

    &__mobile-image
        display block

        +above(720px)
            display none
