/*
 * Hide element but still remains visible to
 * screen readers.
**/
invisible()
    position absolute !important
    clip rect(1px, 1px, 1px, 1px)
    overflow hidden
    height 1px
    width 1px
    word-wrap normal
invisibleShowFocused()
    invisible()
    &:focus
        position static !important
        clip auto
        overflow visible
        height auto
        width auto

/* Extendable */
$visually-hidden
$invisible
    invisible()
$invisibleShowFocused
    invisibleShowFocused()
