.news-card-content
    --titleColor charcoal
    --detailColor charcoal

    padding 24px

    &__title
        @extends $linkHeadline3
        color var(--titleColor)
        margin-bottom 4px

    &__date
        @extends $labelSmall
        color var(--detailColor)
